.box {
  -webkit-transition: all 1s ease-in-out;
}

.reveal img {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  /*height: 100%;*/
}

.reveal a:hover img {
  box-shadow: none;
  border: none;
}

section {
  height: 100%;
  width: 100%;
  /*background: linear-gradient(to right, #0B8295, #BCB21A);*/
  transition: all 250ms ease;
}

html {
  height: 100vh;
}

* {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}


/*text size*/

.reveal h1 {
  font-size: 50px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.reveal h2 {
  font-size: 30px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

h3 {
  font-size: 37px;
  line-height: 1.1;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}

h6 {
  font-size: 18px !important;
  font-weight: 400;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}

.bold {
  font-weight: 900 !important;
}

.upper {
  text-transform: uppercase;
}


/*Color*/

.primary {
  color: white !important;
}

.secondary {
  color: #494485 !important;
}

.tertiary {
  color: #a97eb1;
  background-color: #a97eb1;
}


/*background sections and bugs*/

.header {
  background: url(../img/Header-Home.png);
  height: 118px;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 0;
  padding: 0px 0px 0px 0px;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-branches {
  background: url(../img/Header-\ Branches.png);
  height: 118px;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 0;
  padding: 0px 0px 0px 0px;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.background {
  background: url(../img/BG-no\ header.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  /* top: 129px; */
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: calc(100% - 100px);
  z-index: -1;
}

.background-objections {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  /* top: 129px; */
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: calc(100% - 100px);
  z-index: -1;
}

.answer-bn {
  max-width: 500px;
  text-align: center;
  position: fixed;
  z-index: 4;
  top: 55%;
  left: 50%;
  background: #58666e;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  padding: 10px 40px 10px 40px !important;
}

.admin-deck-bn {
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  z-index: 4;
  top: 55%;
  left: 50%;
  background: #58666e;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  background-color: blue;
  border: 5px solid red !important;
  text-align: left;
  padding: 0px 60px 20px 40px !important;
}

.deck-list {
  list-style: none !important;
  list-style-type: none !important;
  padding: 0;
  margin: 0;
  min-width: 40%;
}

.deck-list li {
  margin: 39px 207px;
  padding: 12px 73px;
  width: 73%;
}

.ccs-home {
  background-color: #A7D59B!important;
}

.vap-home {
  background-color: #73C8AF !important;
}

.vap-cont-home {
  background-color: #0396D6 !important;
}

.lns-home {
  background-color: #24B4CB !important;
}

.deck-list p {
  width: 100%;
  font-weight: 900 !important;
  font-size: 52px;
}


/*.admin-arrow {
  background:url(../img/forward-arrow.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}*/

.uro-va {}

.deck-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7%;
  position: relative;
}

.deck-title {
  flex-grow: 1;
  text-align: left;
  /*padding-left: 13% !important;
  padding-bottom: 4.5% !important;*/
}

.deck-title h2 {
  color: white;
  font-size: 56px;
  font-weight: 600 !important;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding-left: 119px;
}

.deck-title-branches {
  flex-grow: 1;
  text-align: left;
  /*padding-left: 13% !important;
  padding-bottom: 4.5% !important;*/
}

.deck-title-branches h2 {
  color: white;
  font-size: 45px;
  font-weight: 600 !important;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  /* padding-left: 119px; */
}

.deck-name {
  background-color:transparent;
  height: 100%;
  /* padding: 0px 120px 0px 120px !important; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22%;
}

.deck-name h1 {
  color: white;
  font-size: 28px;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  letter-spacing: inherit;
  margin: 0 auto;
  padding-right: 20px;
}

.deck-name h6 {
  color: white;

  font-family: 'Roboto', sans-serif;
  padding: 0px 0px 0px 0px;
  letter-spacing: normal;
  margin-bottom: 15.5px;
}

.box {
  background-color: pink !important;
  position: fixed !important;
  width: 123px !important;
  height: 150px !important;
  z-index: 2000;
  /*right: 0px;*/
}


.objections {
  background-color: #0000004d;
  height: 100%;
  /* padding: 0px 5.6% 0px 5.6% !important; */
  width: 25%;
  margin: auto;
  display: flex;
  align-items: center;
}

.objections h2 {
  color: white;
  font-size: 45px !important;
  font-weight: 300 !important;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}


/* i always use this website for gradients */


/* http://www.colorzilla.com/gradient-editor/ */


/* -sophie */

.objection-1 {
  background: linear-gradient(to right, #acc21d, #9cb52f);
}

.objection-2 {
  background: linear-gradient(to right, #88a546, #73935e);
}

.objection-3 {
  background: linear-gradient(to right, #496086, #495486);
}

.objection-4 {
  background: linear-gradient(to right, #494283, #49387d);
}

.obj_tab {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #000 !important;
  display: none !important;
}

.active_tab {
  display: block !important;
}

.active_nav h2 {
  font-weight: bold !important;
}

.obj_tab h1 {
  color: #000 !important;
}

.objections-text {
  margin-top: 110px !important;
  background-color: #ffffff;
  padding-bottom: 100px !important;
  height: 100%;
}

.admin img {
  /*background-color: #ffffff4d !important;*/
  /* position: fixed; */
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain !important;
  background-position: center !important;
  margin: 0 auto !important;
  padding: 10px 40px 10px 40px;
  /*border: 5px solid red !important;*/
  /* padding: 0px 120px 0px 120px !important; */
}

/*.img-size {
  position: absolute !important;
  margin: 50% auto;
  left: 2% !important;
  top:0%;
  padding-top: 100px !important;
  border: 5px solid pink !important;
  height: 1000px !important;
}*/

.admin-link {
  position: fixed !important;
  /*background-color: #ffffff4d !important;*/
  width: 100px;
  height: 100px;
  bottom: 0px;
  left: 0px;
  /*border: 1px solid black !important;*/
  z-index: 2000;
}

.header h1, h6, a {
  text-decoration: none !important;
}




/*Common Stuff*/

.column {
  float: left;
  position: relative;
  text-align: left;
  top: 350px;
  left: 57px;
  width: 14%;
  height: 300px;
}

.columnspan {
  float: left;
  position: relative;
  text-align: left;
  top: 350px;
  left: 50px;
  width: 30%;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


/*Results*/


/*Navigation*/

.next-arrow-position {
  background-size: contain;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 0px;
  right: 26%;
  bottom: 3%;
}

.prev-arrow-position {
  background-size: contain;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 0px;
  left: 27.6%;
  bottom: 3%;
}

.next {
  background: url(../img/right\ arrow.png);
  background-size: contain;
  position: fixed;
  z-index: 30;
}

.prev {
  background: url(../img/left\ arrow.png);
  background-size: contain;
  position: fixed;
  z-index: 30;
}

.home-position {
  background-size: contain;
  position: absolute;
  top: 940px;
  left: 1275px;
  width: 61px;
  height: 50px;
  border: 0px;
  right: 900px;
}

.home {
  width: 40px;
}

#backdrop {
  z-index: -1;
  height: 650px;
  width: 1328px;
  top: -13%;
  left: -19%;
  bottom: 0%;
  right: 0%;
  margin: 0px auto;
  position: absolute;
  filter: blur(5px) !important;
  -webkit-filter: blur(5px) !important;
  opacity: 0.9;
}


/*Popup Blur*/

.popup-container {
  z-index: 180;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  transition: all 500ms ease;
}

.blur {
  z-index: 200;
  background-color: #ffffff80;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
}

.on-blur {
  filter: blur(5px) !important;
  -webkit-filter: blur(5px) !important;
  opacity: 0.9;
}

.popup-modal {
  z-index: 210;
  align-items: center;
  position: fixed;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: bottom !important;
  /*box-shadow: 15px 10px #000000a1;*/
}

.shadow {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.popup-modal-close {
position: absolute;
    height: 45px;
    width: 100%;
    left: -2%;
    top: 3.4%;
    border: 0px;
    z-index: 211;
    text-align: right;
}

.popup-modal-close img {
  height: 100%;
  width: auto;
}

.logo {
  position: fixed;
  right: 3%;
  bottom: 1%;
  width: 8%;
}

.footer {
  height: 100px;
  position: fixed;
  width: 100vw;
  bottom: 0;
  margin: 0 auto;
  padding: 9px !important;
}

.modal-pic {
  margin-top: 75px;
  position: relative;
}

.modal-pic img {
  width: 100%;
  box-shadow: 10px 10px 10px #666;
  -moz-box-shadow: 10px 10px 10px #666;
  -webkit-box-shadow: 10px 10px 10px #666;
}

#PA-box {
  width: 800px;
  height: 200px;
  background: #494485;
  color: white;
  word-wrap: break-word;
  font-size: 28px;
  padding: 44px;
  margin: 0 auto;
}

#office-box {
  outline: 1px solid red;
  width: 600px;
  height: 300px;
  margin: 0 auto;
}

#qr {
  right: -15%;
  bottom: 0%;
  width: 186px;
  margin: auto;
  position: absolute;
}

#qr-code {
  right: -15%;
  bottom: 0%;
  width: 184px;
  margin: auto;
  position: absolute;
}

#qr-mod-2 {
  right: 1%;
  bottom: 16%;
  width: 186px;
  margin: auto;
  position: absolute;
}

#qr-code-mod-2 {
  right: 1%;
  bottom: 16%;
  width: 184px;
  margin: auto;
  position: absolute;
  z-index: 2;
}

#qr-patient-mod-2 {
  right: 1%;
  bottom: 16%;
  width: 186px;
  margin: auto;
  position: absolute;
}

#qr-code-patient-mod-2 {
  right: 1%;
  bottom: 16%;
  width: 184px;
  margin: auto;
  position: absolute;
  z-index: 2;
}

#pop-bn-small-plain {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 28%;
  right: 7%;
  width: calc(100% - 14rem);
  height: 80%;
  font-size: 40px;
  /* outline: 1px solid; */
}

#pop-bn-small-plain h3 {
  font-size: 35px;
  font-weight: 900;
  line-height: 0%;
}

#pop-bn-small-plain li {
  margin-left: -12px;
  font-size: 38px;
  line-height: 1.2;
  padding: 10px;
}

#pop-bn-small-plain-indent {
  margin-left: 33px !important
}

#pop-bn-large-plain {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 12%;
  right: 5%;
  width: calc(100% - 9rem);
  height: 80%;
  font-size: 25px;
  /* outline: 1px solid; */
}

#pop-bn-large-plain h3 {
  font-size: 40px;
  font-weight: 900;
}

#pop-bn-large-plain li {
  margin-left: -14px;
  font-size: 27px;
  line-height: 1.2;
}

#pop-bn-large-plain-indent {
  margin-left: 33px !important
}



#pop-bn-small-modal {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 17%;
  right: 5%;
  width: calc(100% - 23rem);
  height: 80%;
  font-size: 25px;
  line-height: 1.2;
  /* outline: 1px solid; */
}

#pop-bn-small-modal h3 {
  font-size: 35px;
  font-weight: 900;
  line-height: 0%;
}

#pop-bn-small-modal li {
  margin-left: -14px;
  font-size: 25px;
  line-height: 1.2;
  padding: 6px;
}

#pop-bn-large-modal {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 8%;
  right: 5%;
  width: calc(100% - 23rem);
  height: 80%;
  font-size: 25px;
  line-height: 1.2;
  /* outline: 1px solid; */
}

#pop-bn-large-modal h3 {
  font-size: 35px;
  font-weight: 900;
  line-height: 0%;
}

#pop-bn-large-modal li {
  margin-left: -14px;
  font-size: 25px;
  line-height: 1.2;
  padding: 6px;
}

#pop-bn-large-modal-indent {
  margin-left: 33px !important
}

/*body*/

.nav-note {
  /*position: absolute;
  top: 940px;
  left: 0px;
  width: 1393px;
  height: 1024px;
  text-align: center;*/
  position: fixed;
  width: 100%;
  bottom: 45px;
  margin: 0px 0px 0px 0px !important;
}

.foot-note {
  position: fixed;
  width: 100%;
  bottom: 1%;
  line-height: 1 !important;
  font-size: 15px !important;
  margin: 0px 0px 0px 0px !important;
}

.top-note {
  position: absolute;
  font-size: 30px !important;
  text-align: center;
  width: 100%;
  margin: 60px 0px 0px 0px !important;
}

.exit-icon {
  background-color: violet;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1100px;
  top: 180px;
  border: 0px;
  z-index: 35;
}

.disclaimer {
  position: absolute;
  width: 1200px;
  height: 200px;
  left: 83px;
  top: 250px;
}

.graphic-1 {
  position: absolute;
  width: 2668px;
  height: 2000px;
  left: 4%;
  top: -5%;
  border: 0px;
  z-index: 0;
}

.spread-1 {
  width: 100%;
  height: 77%;
  top: 19%;
  left: 0%;
  position: fixed;
  /* border: 5px solid pink !important; */
  justify-content: center;
  display: flex;
  align-items: center;
}

.spread-1 img {
  position: absolute;
  width: 47%;
  height: 72%;
}

.spread-2 {
  width: 100%;
  height: 100%;
  top: 68px;
  position: fixed;
  /*border: 5px solid pink !important;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.spread-2 img {
  position: absolute;
  width: 77%;
  height: 72%;
  border: 1px solid #494485 !important;
  margin: auto;
}

.spread-3 {
  width: 100%;
  height: 77%;
  top: 150px;
  position: fixed;
  /*border: 5px solid pink !important;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.spread-3 img {
  position: absolute;
  width: 76%;
  height: 68%;
  margin: auto;
}

.spread-4 {
  width: 100%;
  height: 77%;
  top: 150px;
  position: fixed;
  /*border: 5px solid pink !important;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.spread-4 img {
  position: absolute;
  width: 50%;
  height: 90%;
  margin: auto;
}

.spread-objections {
  width: 100%;
  height: 77%;
  top: 150px;
  position: fixed;
  /*border: 5px solid pink !important;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.spread-objections img {
  position: absolute;
  width: 50%;
  height: 90%;
  margin: auto;
}

.spread-admin {
  max-width: 500px;
  text-align: center;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  background: #58666e;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  padding: 10px 40px 10px 40px !important;
}

button {
  outline: 0;
  border: 0;
}

#hcp-button {
  background-color: #494485;
  position: absolute;
  left: 0%;
  top: 51%;
  height: 392.795px;
  width: 220px;
  z-index: 2;
}

/* background-color: #494485;
position: absolute;
left: -8%;
top: 59%;
height: 192.795px;
width: 425px;
transform: rotate(270deg);
color: #fff;
word-wrap: break-word;
z-index: 0;
font-size: 36px;
padding: 62px;
padding-bottom: -91px;
text-align: left;
margin-right: 89px; */

#patient-button {
  background-color:lightgray;
  position:absolute;
  left: 0%;
  top: 15.5%;
  height: 388.795px;
  width: 220px;
  z-index: 2;
}

.vertical-hcp {
  transform: rotate(270deg);
  color: #fff !important;
  font-size: 40px !important;
  transform-origin: 68% 307% 0;
  width: 332px;
  }

  .vertical-patient {
    transform: rotate(270deg);
    color: #fff !important;
    font-size: 40px !important;
    transform-origin: 64% 150% 0;
    width: 332px;
    }

    #star-bn-pa-1-v {
      background: url(../img/bt-star-1.png);
      position: absolute;
      margin: auto;
      width: 85px;
      height: 87.5px;
      bottom: 39%;
      left: 33.5%;
      border: 0px;
      background-size: contain;
      z-index: 10;
      background-repeat: no-repeat;
    }
    
    #star-bn-pa-2-v {
      background: url(../img/bt-star-2.png);
      position: absolute;
      margin: auto;
      width: 85px;
      height: 87.5px;
      bottom: 35%;
      left: 10.5%;
      border: 0px;
      background-size: contain;
      z-index: 10;
      background-repeat: no-repeat;
    }
    
    #star-bn-pa-3-v {
      background: url(../img/bt-star-3.png);
      position: absolute;
      margin: auto;
      width: 85px;
      height: 87.5px;
      bottom: 29%;
      left: 36.5%;
      border: 0px;
      background-size: contain;
      z-index: 10;
      background-repeat: no-repeat;
    }
    
    #star-bn-pa-4-v {
      background: url(../img/bt-star-4.png);
      position: absolute;
      margin: auto;
      width: 85px;
      height: 87.5px;
      bottom: 21%;
      left: 36.5%;
      border: 0px;
      background-size: contain;
      z-index: 10;
      background-repeat: no-repeat;
    }

    #star-bn-pa-5-v {
      background: url(../img/bt-star-5.png);
      position: absolute;
      margin: auto;
      width: 85px;
      height: 87.5px;
      bottom: 36%;
      left: 82%;
      border: 0px;
      background-size: contain;
      z-index: 10;
      background-repeat: no-repeat;
    }

    #star-bn-pa-6-v {
      background: url(../img/bt-star-6.png);
      position: absolute;
      margin: auto;
      width: 85px;
      height: 87.5px;
      bottom: 28%;
      left: 82%;
      border: 0px;
      background-size: contain;
      z-index: 10;
      background-repeat: no-repeat;
    }

    #star-bn-pa-7-v {
      background: url(../img/bt-star-7.png);
      position: absolute;
      margin: auto;
      width: 85px;
      height: 87.5px;
      bottom: 20%;
      left: 82%;
      border: 0px;
      background-size: contain;
      z-index: 10;
      background-repeat: no-repeat;
    }


#star-bn-1-v {
  background: url(../img/bt-star-1.png);
  position: absolute;
  margin: auto;
  width: 85px;
  height: 87.5px;
  bottom: 33%;
  left: 32%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#star-bn-2-v {
  background: url(../img/bt-star-2.png);
  position: absolute;
  margin: auto;
  width: 85px;
  height: 87.5px;
  bottom: 25%;
  left: 30.5%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#star-bn-3-v {
  background: url(../img/bt-star-3.png);
  position: absolute;
  margin: auto;
  width: 85px;
  height: 87.5px;
  bottom: 41%;
  left: 50%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#star-bn-4-v {
  background: url(../img/bt-star-4.png);
  position: absolute;
  margin: auto;
  width: 85px;
  height: 87.5px;
  bottom: 23%;
  left: 70%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#star-bn-1-v1 {
  background: url(../img/Bt-1.png);
  position: absolute;
  margin: auto;
  width: 85px;
  height: 87.5px;
  bottom: 52%;
  left: 92%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#star-bn-3-v1 {
  background: url(../img/Bt-1.png);
  position: absolute;
  margin: auto;
  width: 85px;
  height: 87.5px;
  bottom: 71%;
  left: 33%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#star-bn-3-v2 {
  background: url(../img/bt-2.png);
  position: absolute;
  margin: auto;
  width: 85px;
  height: 87.5px;
  bottom: 58%;
  left: 1.5%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#star-bn-3-v3 {
  background: url(../img/bt-3.png);
  position: absolute;
  margin: auto;
  width: 85px;
  height: 87.5px;
  bottom: 20%;
  left: 33%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#star-bn-1-patient-v {
  background: url(../img/bt-star-1.png);
  position: absolute;
  margin: auto;
  width: 85px;
  height: 87.5px;
  bottom: 46%;
  left: 34%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-1-c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 15%;
  left: 20%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-2-c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 15%;
  right: 44%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-1-c {
  background: url(../img/Bt-1.png);
  position: absolute;
  margin: auto;
  width: 85px;
  height: 87.5px;
  bottom: 72%;
  left: 42.5%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-c {
  background: url(../img/bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  bottom: 47%;
  left: 42.5%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;

}

#pop-bn-3-c {
  background: url(../img/bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  bottom: 74%;
  left: 76%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#o-chall-bn-2 {
  background: url(../img/onc-challenge-bt-2.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-1-2c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  left: 2%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-2-2c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  left: 28%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-3-2c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  right: 19%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-1c {
  background: url(../img/Bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 19%;
  top: 24%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-2c {
  background: url(../img/bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 19%;
  top: 35%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-3c {
  background: url(../img/bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 45%;
  top: 38%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-4c {
  background: url(../img/bt-4.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  right: 26%;
  top: 38%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-1-3c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  left: 2%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-2-3c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  left: 28%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-3-3c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  right: 19%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}


#pop-bn-4-5c {
  background: url(../img/bt-5.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  right: 9%;
  top: 26%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-1-4c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  left: 2%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-2-4c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  left: 28%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-3-4c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  right: 19%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-1c {
  background: url(../img/Bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  right: 40%;
  top: 45%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-1-5c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  left: 15%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-2-5c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  left: 42%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}



#pop-bn-6-2c {
  background: url(../img/bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 47%;
  top: 42%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-1-6c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  left: 2%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-2-6c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  left: 30%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-3-6c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  right: 19%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#o-chall-bn-3 {
  background: url(../img/onc-challenge-bt-3.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-1-7c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  left: 2%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-2-7c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  left: 30%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-3-7c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  right: 19%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}



#pop-bn-7-1c {
  background: url(../img/Bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 21%;
  top: 26%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-7-2c {
  background: url(../img/bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 48%;
  top: 52%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-7-3c {
  background: url(../img/bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  right: 38%;
  top: 43%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-7-4c {
  background: url(../img/bt-4.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  right: 3%;
  top: 23%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#o-chall-bn-4 {
  background: url(../img/onc-challenge-bt-4.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-1-8c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  left: 12%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-2-8c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  left: 42%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#zoom-3-8c {
  background: url(../img/zoom\ icon.png);
  position: absolute;
  margin: auto;
  width: 37px;
  bottom: 17%;
  right: 30%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}


#pop-bn-8-1c {
  background: url(../img/Bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 19%;
  top: 19%;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-2o {
  background: url(../img/onc-spread2-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 840px;
  top: 340px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-3o {
  background: url(../img/onc-spread2-bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1300px;
  top: 200px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-4o {
  background: url(../img/onc-spread2-bt-4.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 910px;
  top: 620px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-5ao {
  background: url(../img/onc-spread2-bt-5a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1300px;
  top: 470px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-5bo {
  background: url(../img/onc-spread2-bt-5b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1390px;
  top: 620px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#o-chall-bn-5 {
  background: url(../img/onc-challenge-bt-5.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-1ao {
  background: url(../img/onc-spread5-bt-1a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 850px;
  top: 215px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-1bo {
  background: url(../img/onc-spread5-bt-1b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 490px;
  top: 370px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-2o {
  background: url(../img/onc-spread5-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1100px;
  top: 290px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#u-chall-bn-1 {
  background: url(../img/onc-challenge-bt-1.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-1-1u {
  background: url(../img/uro-spread1-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 50px;
  top: 485px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-1-2u {
  background: url(../img/uro-spread1-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 730px;
  top: 485px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-1-3u {
  background: url(../img/uro-spread1-bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1350px;
  top: 550px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-1-4u {
  background: url(../img/uro-spread1-bt-4.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 960px;
  top: 460px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-1-5u {
  background: url(../img/uro-spread1-bt-5.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1350px;
  top: 410px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#u-chall-bn-2 {
  background: url(../img/onc-challenge-bt-2.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-1u {
  background: url(../img/uro-spread2-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 200px;
  top: 320px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-2u {
  background: url(../img/uro-spread2-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 450px;
  top: 395px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-3u {
  background: url(../img/uro-spread2-bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 460px;
  top: 550px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-4u {
  background: url(../img/uro-spread2-bt-4.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1450px;
  top: 188px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-5au {
  background: url(../img/uro-spread2-bt-5a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 915px;
  top: 500px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-5bu {
  background: url(../img/uro-spread2-bt-5b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 960px;
  top: 580px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-6u {
  background: url(../img/uro-spread2-bt-6.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1430px;
  top: 320px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#u-chall-bn-3 {
  background: url(../img/onc-challenge-bt-3.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-1u {
  background: url(../img/onc-spread3-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 830px;
  top: 200px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-2u {
  background: url(../img/uro-spread3-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 750px;
  top: 500px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-3au {
  background: url(../img/uro-spread3-bt-3a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1580px;
  top: 200px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-3bu {
  background: url(../img/uro-spread3-bt-3b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1400px;
  top: 490px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#u-chall-bn-4 {
  background: url(../img/onc-challenge-bt-4.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-1u {
  background: url(../img/uro-spread2-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 930px;
  top: 210px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-2u {
  background: url(../img/uro-spread2-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 840px;
  top: 340px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-3u {
  background: url(../img/uro-spread2-bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1300px;
  top: 200px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-4u {
  background: url(../img/uro-spread2-bt-4.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 935px;
  top: 590px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-5au {
  background: url(../img/uro-spread2-bt-5a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1300px;
  top: 470px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-5bu {
  background: url(../img/uro-spread2-bt-5b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1390px;
  top: 620px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-6u {
  background: url(../img/uro-spread2-bt-6.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 935px;
  bottom: 200px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#u-chall-bn-5 {
  background: url(../img/onc-challenge-bt-5.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-1u {
  background: url(../img/uro-spread5-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 550px;
  top: 300px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-2u {
  background: url(../img/uro-spread5-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 860px;
  top: 300px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-3au {
  background: url(../img/uro-spread5-bt-3a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1360px;
  top: 170px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-3bu {
  background: url(../img/uro-spread5-bt-3b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1110px;
  top: 320px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#ob-chall-bn-1 {
  background: url(../img/onc-challenge-bt-1.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 80px;
  top: 420px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#ob-chall-bn-2 {
  background: url(../img/onc-challenge-bt-2.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 80px;
  top: 420px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#ob-chall-bn-3 {
  background: url(../img/onc-challenge-bt-3.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 80px;
  top: 420px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#ob-chall-bn-4 {
  background: url(../img/onc-challenge-bt-4.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 80px;
  top: 400px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}


/*/////////////////////////////////////////*/

#o-chall-bn-1c {
  background: url(../img/onc-challenge-bt-1.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-1-oc {
  background: url(../img/uro-spread1-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 50px;
  top: 485px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-oc {
  background: url(../img/uro-spread1-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 730px;
  top: 485px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-oc {
  background: url(../img/onc-spread1-bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1350px;
  top: 430px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#o-chall-bn-2c {
  background: url(../img/onc-challenge-bt-2.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-1oc {
  background: url(../img/onc-spread2-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 200px;
  top: 310px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-2oc {
  background: url(../img/onc-spread2-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 450px;
  top: 380px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-3oc {
  background: url(../img/onc-spread2-bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 915px;
  top: 600px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-4oc {
  background: url(../img/onc-spread2-bt-4.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1480px;
  top: 188px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-5aoc {
  background: url(../img/onc-spread2-bt-5a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 960px;
  top: 520px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-5boc {
  background: url(../img/onc-spread2-bt-5b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1430px;
  top: 570px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-6oc {
  background: url(../img/onc-spread2-bt-6.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1430px;
  top: 320px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#o-chall-bn-3c {
  background: url(../img/onc-challenge-bt-3.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-1oc {
  background: url(../img/onc-spread3-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 630px;
  top: 310px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-2aoc {
  background: url(../img/onc-spread3-bt-2a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1510px;
  top: 188px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-2boc {
  background: url(../img/onc-spread3-bt-2b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1400px;
  top: 490px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#o-chall-bn-4c {
  background: url(../img/onc-challenge-bt-4.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-1oc {
  background: url(../img/onc-spread2-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 930px;
  top: 210px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-2oc {
  background: url(../img/onc-spread2-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 840px;
  top: 340px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-3oc {
  background: url(../img/onc-spread2-bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1300px;
  top: 200px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-4oc {
  background: url(../img/onc-spread2-bt-4.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 910px;
  top: 620px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-5aoc {
  background: url(../img/onc-spread2-bt-5a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1300px;
  top: 470px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-5boc {
  background: url(../img/onc-spread2-bt-5b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1390px;
  top: 620px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#o-chall-bn-5c {
  background: url(../img/challenge-bt-plain.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-1aoc {
  background: url(../img/onc-spread5-bt-1a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 850px;
  top: 215px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-1boc {
  background: url(../img/onc-spread5-bt-1b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 490px;
  top: 370px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-2oc {
  background: url(../img/onc-spread5-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1100px;
  top: 290px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#u-chall-bn-1c {
  background: url(../img/onc-challenge-bt-1.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-1-1uc {
  background: url(../img/uro-spread1-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 50px;
  top: 485px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-1-2uc {
  background: url(../img/uro-spread1-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 730px;
  top: 485px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-1-3uc {
  background: url(../img/uro-spread1-bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1350px;
  top: 550px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-1-4uc {
  background: url(../img/uro-spread1-bt-4.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 960px;
  top: 460px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-1-5uc {
  background: url(../img/uro-spread1-bt-5.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1350px;
  top: 410px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#u-chall-bn-2c {
  background: url(../img/onc-challenge-bt-2.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-1uc {
  background: url(../img/uro-spread2-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 200px;
  top: 320px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-2uc {
  background: url(../img/uro-spread2-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 450px;
  top: 395px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-3uc {
  background: url(../img/uro-spread2-bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 460px;
  top: 550px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-4uc {
  background: url(../img/uro-spread2-bt-4.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1450px;
  top: 188px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-5auc {
  background: url(../img/uro-spread2-bt-5a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 915px;
  top: 500px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-5buc {
  background: url(../img/uro-spread2-bt-5b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 960px;
  top: 580px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-6uc {
  background: url(../img/uro-spread2-bt-6.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1430px;
  top: 320px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#u-chall-bn-3c {
  background: url(../img/onc-challenge-bt-3.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-1uc {
  background: url(../img/onc-spread3-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 830px;
  top: 200px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-2uc {
  background: url(../img/uro-spread3-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 750px;
  top: 500px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-3auc {
  background: url(../img/uro-spread3-bt-3a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1580px;
  top: 200px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-3buc {
  background: url(../img/uro-spread3-bt-3b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1400px;
  top: 490px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#u-chall-bn-4c {
  background: url(../img/onc-challenge-bt-4.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-1uc {
  background: url(../img/uro-spread2-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 930px;
  top: 210px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-2uc {
  background: url(../img/uro-spread2-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 840px;
  top: 340px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-3uc {
  background: url(../img/uro-spread2-bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1300px;
  top: 200px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-4uc {
  background: url(../img/uro-spread2-bt-4.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 935px;
  top: 590px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-5auc {
  background: url(../img/uro-spread2-bt-5a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1300px;
  top: 470px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-5buc {
  background: url(../img/uro-spread2-bt-5b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1390px;
  top: 620px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-6uc {
  background: url(../img/uro-spread2-bt-6.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 935px;
  bottom: 200px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#u-chall-bn-5c {
  background: url(../img/challenge-bt-plain.png);
  position: absolute;
  width: 215px;
  height: 270px;
  right: 35px;
  bottom: -50px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-1uc {
  background: url(../img/uro-spread5-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 550px;
  top: 300px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-2uc {
  background: url(../img/uro-spread5-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 860px;
  top: 300px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-3auc {
  background: url(../img/uro-spread5-bt-3a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1360px;
  top: 170px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-3buc {
  background: url(../img/uro-spread5-bt-3b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1110px;
  top: 320px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#ob-chall-bn-1c {
  background: url(../img/onc-challenge-bt-1.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 80px;
  top: 505px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#ob-chall-bn-2c {
  background: url(../img/onc-challenge-bt-2.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 80px;
  top: 505px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#ob-chall-bn-3c {
  background: url(../img/onc-challenge-bt-3.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 80px;
  top: 505px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#ob-chall-bn-4c {
  background: url(../img/onc-challenge-bt-4.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 80px;
  top: 505px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#p-box {
  outline: 1px solid #49387d;
  background: rgb(223, 250, 255);
  margin: 0 auto;
  padding: 10px;
  padding: 26px;
    padding-top: 7px;
}

#row{
  display:flex;
  justify-content: center;
  align-items: center;
}

#row1{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

#column1{
  display:flex;
  flex-direction:column;

  background:#f8fff8;
  margin: 5px;
  padding: 14px;
  margin-top: 40px;
  padding-top: 20px;
}

#column1 li{
  font-size: 18px;
}

#column1 h3{
  line-height: 1;
  margin: 0 auto;
  margin-bottom: -24px;
}

#column2{
  display:flex;
  flex-direction:column;

  background:#fdf6fd;
  margin: 5px;
  padding: 14px;
  margin-top: 40px;
  padding-top: 20px;
}

#column2 li{
  font-size: 18px;
}

#column2 h3{
  line-height: 1;
  margin: 0 auto;
  margin-bottom: -24px;
}


/*@-webkit-keyframes pulseAlt {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulseAlt {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.pulse {
  -webkit-animation-name: pulseAlt;
  animation-name: pulseAlt;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}*/

@keyframes bounceInPLZ {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(.97, .97, .97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.plzwork {
  animation-name: bounceInLess;
  -webkit-animation-iteration-count: once;
  animation-iteration-count: once;
}

.admin-pan {
  display: flex;
  justify-content: center;
  align-items: center;
}

#signin_holder {
  height: 100%;
  width: 100%;
  background: #ffffffa1;
  color: #000000 !important;
}

#admin_panel {
  height: 100%;
  width: 100%;
  color: #000000 !important;
}

.hidden {
  display: none;
}

/*
@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(100%, 100%, 100%) rotateY(0deg);
            transform: translate3d(100%, 100%, 100%) rotateY(0deg);
  }
}

@keyframes opacity2 {
  0% {
    opacity: 0;
      -webkit-transform: translate3d(100%, 100%, 100%) rotateY(0deg);
              transform: translate3d(100%, 100%, 100%) rotateY(0deg);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
  }
}

.present {
  opacity: 0;
  animation-name: opacity !important;
  -webkit-animation-iteration-count: once;
  animation-iteration-count: once;
  animation-duration: 0.7s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.future {
  opacity: 0;
  animation-name: opacity2 !important;
  -webkit-animation-iteration-count: once;
  animation-iteration-count: once;
  animation-duration: 0.7s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}*/
