<!-- Objections 1 -->

<section id="obj-ch">

  <div class="header">
    <a href="#admin" class="admin-link">
      <div class="admin">
        <!-- <img src="img/admin-icon.png"> -->
      </div>
    </a>

    <a href="#obj-1" class="objections objection-1 active_nav" data-tab="obj_1">
      <h2>Objection 1</h2>
    </a>

    <a href="#obj-2" class="objections objection-2" data-tab="obj_2">
      <h2>Objection 2</h2>
    </a>

    <a href="#obj-3" class="objections objection-3" data-tab="obj_3">
      <h2>Objection 3</h2>
    </a>

    <a href="#obj-4" class="objections objection-4" data-tab="obj_4">
      <h2>Objection 4</h2>
    </a>
  </div>

    <div id="obj_1" class="obj_tab objection-1 active_tab">
      <!-- Question -->
      <div class="objections-text obj_1_question">
        <img src="img/objection1.png" alt="Answer 1">
        <a href="#ans-1" class="primary">
          <h2 class="answer-bn primary"  data-answer='obj_1_answer' data-question='obj_1_question'>Reveal Response Points</h2>
        </a>
      </div>

      <!-- Answer -->
      <div class="objections-text obj_1_answer hidden">
        <img src="img/objection1-answers-QR.png" alt="Answer 1">
        <div class="">
          <button data-animate="fadeIn" id="ob-chall-bn-1" class="open-popup-btn"></button>
        </div>
      </div>
    </div>

    <div id="obj_2" class="obj_tab objection-2 active_tab">
      <!-- Question -->
      <div class="objections-text obj_2_question">
        <img src="img/objection2.png" alt="Question 2">
        <a href="#ans-2" class="primary">
          <h2 class="answer-bn primary"  data-answer='obj_2_answer' data-question='obj_2_question'>Reveal Response Points</h2>
        </a>
      </div>

      <!-- Answer -->
      <div class="objections-text obj_2_answer hidden">
        <img src="img/objection2-answers-QR.png" alt="Answer 2">
        <div class="">
          <button data-animate="fadeIn" id="ob-chall-bn-2" class="open-popup-btn"></button>
        </div>
      </div>
    </div>

    <div id="obj_3" class="obj_tab objection-3 active_tab">
      <!-- Question -->
      <div class="objections-text obj_3_question">
        <img src="img/objection3.png" alt="Question 3">
        <a href="#ans-3" class="primary">
          <h2 class="answer-bn primary"  data-answer='obj_3_answer' data-question='obj_3_question'>Reveal Response Points</h2>
        </a>
      </div>

      <!-- Answer -->
      <div class="objections-text obj_3_answer hidden">
        <img src="img/objection3-answers-QR.png" alt="Answer 3">
        <div class="">
          <button data-animate="fadeIn" id="ob-chall-bn-3" class="open-popup-btn"></button>
        </div>
      </div>
    </div>

    <div id="obj_4" class="obj_tab objection-4 active_tab">
      <!-- Question -->
      <div class="objections-text obj_4_question">
        <img src="img/objection4.png" alt="Answer 4">
        <a href="#ans-4" class="primary">
          <h2 class="answer-bn primary"  data-answer='obj_4_answer' data-question='obj_4_question'>Reveal Response Points</h2>
        </a>
      </div>

      <!-- Answer -->
      <div class="objections-text obj_4_answer hidden">
        <img src="img/objection4-answers-QR.png" alt="Answer 4">
        <div class="">
          <button data-animate="fadeIn" id="ob-chall-bn-4" class="open-popup-btn"></button>
        </div>
      </div>
    </div>

  <div class="fragment" data-autoslide="0"></div>

  <div class="footer">

  </div>

</section>





<div id="obj_2" class="obj_tab objection-2 active_tab">
  <!-- Question -->
  <div class="objections-text obj_2_question">
    <img src="img/objection2.png" alt="Question 2">
    <a href="#ans-2" class="primary">
      <h2 class="answer-bn primary"  data-answer='obj_2_answer' data-question='obj_2_question'>Reveal Response Points</h2>
    </a>
  </div>

  <!-- Answer -->
  <div class="objections-text obj_2_answer hidden">
    <img src="img/objection2-answers-QR.png" alt="Answer 2">
    <div class="" id="ans-2">
      <button data-animate="fadeIn" id="ob-chall-bn-2" class="open-popup-btn"></button>
    </div>
  </div>
</div>

<div id="obj_3" class="obj_tab objection-3 active_tab">
  <!-- Question -->
  <div class="objections-text obj_3_question">
    <img src="img/objection3.png" alt="Question 3">
    <a href="#ans-3" class="primary">
      <h2 class="answer-bn primary"  data-answer='obj_3_answer' data-question='obj_3_question'>Reveal Response Points</h2>
    </a>
  </div>

  <!-- Answer -->
  <div class="objections-text obj_3_answer hidden">
    <img src="img/objection3-answers-QR.png" alt="Answer 3">
    <div class="" id="ans-3">
      <button data-animate="fadeIn" id="ob-chall-bn-3" class="open-popup-btn"></button>
    </div>
  </div>
</div>

<div id="obj_4" class="obj_tab objection-4 active_tab hidden">
  <!-- Question -->
  <div class="objections-text obj_4_question">
    <img src="img/objection4.png" alt="Answer 4">
    <a href="#ans-4" class="primary">
      <h2 class="answer-bn primary"  data-answer='obj_4_answer' data-question='obj_4_question'>Reveal Response Points</h2>
    </a>
  </div>

  <!-- Answer -->
  <div class="objections-text obj_4_answer hidden">
    <img src="img/objection4-answers-QR.png" alt="Answer 4">
    <div class="">
      <button data-animate="fadeIn" id="ob-chall-bn-4" class="open-popup-btn"></button>
    </div>
  </div>
</div>
